<div class="area-login-background d-none d-md-block"></div>

<div class="area-form">
  <form action="">
    <h1 class="title">CRUD USERS</h1>
    <h2 class="subtitle">Mais eficiência no conrole de usuários</h2>

    <input
      [(ngModel)]="userName"
      [ngModelOptions]="{ standalone: true }"
      class="input-form"
      type="text"
      placeholder="Digite seu nome"
    />

    <app-button textButton="Acessar" size="100" (click)="login()" />
  </form>

  <p class="footer">2025 | Silvio Celso</p>
</div>
